{{>heading-indent}}{{>sig-name}}&nbsp;<a name="{{{anchorName}}}"{{#if gitUrl}} href="{{{gitUrl}}}" target="_blank"{{/if~}}>{{#if gitUrl}}<span class="icon"><i class="fas fa-external-link-alt fa-xs"></i></span>{{/if~}}</a>
